@import './styles/foundations.css';
@import './styles/tech-components.css';
@import './styles/utilities.css';
@import './styles/animations.css';
@import './styles/cursor.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
